body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.accordian {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  height: auto;
}
